.overviewPaper, .tablePaper {
	margin: 0 0 1em 0;
	width: 100%
}
.tablePaper {
	padding: 0 1em;
}
/* .clubOverviewPage {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
} */
/* .clubHeaderWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 25vh;
	background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(17, 17, 17, .85) 50%, rgba(0, 0, 0, .9) 100%);
	color: #fafafa;
} */
.clubOverviewOpts { 
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 1em;
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	align-items: center;
	color: #fafafa;
	z-index: 2;
}



/* tabs & tabs content */
.panelHeaderTxt {
	font-size: 18px;
	font-weight: 600;
	padding: 0 1em 0 0;
}
.panelBody {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1em 1.5em 1em;
	/* overflow: hidden; */
	/* border-top: 1px solid #d8d8d8 */
}
.overviewPanelHead {
	/* width: 95%; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
}
.playerPanelHead {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em;
}
.panelHeaderSmallTxt {
	font-size: 14px;
}
/* .favClub {
	position: absolute;
	top: 1em;
	right: 1em
} */



/* player page */
.specialChip {
	margin: .2em 0;
}
.specialsWrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	margin: 0 0 1em 0;
}




/* match overview component */
.matchOverviewHead {
	font-size: 13px;
}
.partA {
	position: absolute;
	right: 57%;
}
.results {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 18px;
}
.partB {
	position: absolute;
	left: 57%;
}

/* clubOverview */

.playerNation {
	width: 30px;
	margin: 0 .5em .5em 0;
}
.posColor {
	display: flex;
	align-items: center;
	border-radius: 50%;
	width: 15px;
	height: 15px;
	border: 1px solid #111;
	margin-right: .5em;
	margin-left: .5em;
}
.posColorBig {
	display: flex;
	align-items: center;
	border-radius: 50%;
	width: 25px;
	height: 25px;
	border: 1px solid #111;
	margin: 0 0 0 .5em;
	justify-content: center;
}
.matchesBall {
	position: absolute;
	bottom: 0;
	right: -1em;
	width: 70px;
}
.posTxt {
	color: #fafafa;
	text-shadow: 0 1px 1px #111;
	font-size: 16px;
}
/* .overviewPaperWidth {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
} */
/* .playerOverviewPaper {
	width: 10%
} */
.lastResultNA {
	margin: 1.1em 0 0 0
}
.recentResults {
	border-radius: 5px;
	padding: .1em .5em;
	color: #fafafa;
	width: 15px;
	text-align: center;
	text-shadow: 0 1px 1px #666;
}
.attrBox {
	border-radius: 5px;
	padding: .1em .3em;
	color: #fafafa;
	text-align: center;
	font-weight: bold;
}
.lastMatches {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-width: max-content;
	margin: 0 .75em 1.5em 0;
}
.lastResults {
	border-radius: 5px;
	color: #fafafa;
	background-color: #707070;
	padding: .06em .4em;
}
/* .stadiumIcon {
	width: 35px;
	height: 35px;
} */
.stadiumInfos {
	display: flex;
	flex-direction: column;
	padding: 0 1em;
}
.teamHistory {
	display: flex;
	align-items: center;
}
/* .oppCrest {
	width: 30px;
	height: 30px;
	margin: .5em 0 0 0;
} */
/* .oppCrestMini {
	width: 20px;
	height: 20px;
	margin: 0 .2em;
} */
.playersWrap {
	scrollbar-width: thin;
	scrollbar-color: #6e6e6e transparent;
	display: flex;
	align-items: center;
	overflow-x: scroll;
	width: 100%;
	padding: 0 0 1em 0;
}


/* player left club component */
.playerLeft {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: auto;
}

/* squad compoenent */
.circularCenterWrap {
	position: absolute;
	left: 50%;
	transform: translate(-50%, 0);
}


/* squadlist component */
.squadList {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0 1em 1em 1em
}

/* .clubOverviewCrestPlayer {
	margin: 0;
	width: 50px;
} */

.squadPaper, .playerClubPaper {
	margin: 0 0 1em 0;
	padding: 2px 4px;
	width: 100%;
}
.playersCareerWrap {
	/* margin: 0 1em 0 0; */
	min-width: 240px;
	max-width: 240px;
	margin: 0 1em 0 0;
}