/* Trigger */
.gonimate {
	animation-duration: .5s;
	animation-fill-mode: both;
	animation-timing-function: ease-in-out;
}

/* FADE IN */
.fadeIn {
	animation-name: fadeIn
}

@keyframes fadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: 1
	}
}

.backdropFadeIn {
	animation-name: backdropFadeIn
}

@keyframes backdropFadeIn {
	from {
		opacity: 0
	}

	to {
		opacity: .85
	}
}

/* FADE IN RIGHT */
.fadeInRight {
	animation-name: fadeInRight
}

@keyframes fadeInRight {
	0% {
		opacity: .5;
		transform: translateX(-100%);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}

/* FADE IN DOWN */
.fadeInDown {
	animation-name: fadeInDown
}

@keyframes fadeInDown {
	0% {
		opacity: 0;
		transform: translateY(-100%);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.one {
	animation-delay: .2s;
}
.two {
	animation-delay: .5s
}

/* spin animation */
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }