.allFavsWrap {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.favClubWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 0 .5em 0;
	padding: 0 .5em;
	border-radius: 3px;
}

.favClubWrap:hover {
	background-color: #c7c7c7;
}

/* .favClubCrest {
	width: 50px;
	margin: 0 1em 0 0
} */

.favClubHeart {
	position: absolute;
	top: 1em;
	right: 1em
}