.overviewLayer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 25vh;
	/* background-color: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(17, 17, 17, .85) 50%, rgba(0, 0, 0, .9) 100%); */
	background-image: url('../../public/imgs/ballBg.webp');
	background-size: 100%;
	background-color: #000;
}
.overviewShadowed {
	position: absolute;
	top: 0;
	width: 100%;
	height: 25vh;
	background-color: #000;
	z-index: 1;
	opacity: .4;
}
.clubOptions {
	position: absolute;
	top: 1em;
	right: 1em;
	z-index: 2;
}
.appLogo {
	width: 50px;
}
/* .clubOverviewCrest {
	margin: .5em 0 0 0;
	width: 70px;
} */
.welcomeLogo {
	width: 40px;
	margin-bottom: 1em;
}
/* .appNameLogo {
	width: 155px;
} */
.pageName {
	color: #d1d1d1;
	margin: .25em 0 0 0;
	font-size: 17px;
}
.backToWelcome {
	position: absolute;
	top: 1em;
	left: 1em;
	cursor: pointer;
}
.settsBtn {
	position: absolute;
	top: 1em;
	left: 1em
}
.homeLang {
	position: absolute;
	top: 1em;
	right: 1em
}
.backToHome {
	position: absolute;
	top: 1em;
	left: 3em;
	cursor: pointer;
}