.svgPaperWrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.promoPaperWrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.promoPaperCol {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.contributeCol {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.searchPaper, .favPaper, .svgPaper, .promoPaper, .clubSearchPaper {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 2px 4px;
	margin: 0 0 1em 0;
	width: 100%
}

.svgPaper {
	overflow: hidden;
	text-align: center;
	height: 220px;
}

.promoPaper {
	text-align: center;
}



.svgWrap {
	position: absolute;
	left: -2.5em;
	margin-top: -8em;
	width: 45%;
	z-index: 1;
}

.svgWrapR {
	position: absolute;
	right: -3.5em;
	margin-top: -9em;
	width: 50%;
	z-index: 1;
}

.svgWrapScissorBall {
	position: absolute;
	top: -1em;
	right: -.5em;
	width: 60px;
	animation: spin 13s linear infinite;
}
.svgWrapScissor {
	position: absolute;
	top: 4.5em;
	right: 1em;
	width: 300px;
}

/* homepage leaderboard svg card */
.titleTxt {
	font-weight: 600;
	margin: 1em 0
}

.leaderWrap {
	position: relative;
	width: 100%;
	margin: 0
}

.leaderboardWrap {
	position: relative;
	width: 100%;
	margin: auto;
}
