body {
	margin: 0;
	/* height: 100vh;
	display: flex; */
	/* flex-direction: column; */
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
	padding: 1em;
	background-color: #333;
	color: #fafafa;
}
h1, h2, h3 {
	font-weight: normal;
}
hr {
	  color: #ffffff;
}
a {
	width: max-content;
	text-decoration: none;
	color: rgb(17, 17, 17);
}

.MuiPaper-root {
	color: #292929
}

.MuiSpeedDialAction-staticTooltipLabel, .MuiSpeedDialAction-fab, .MuiSpeedDialAction-fabClosed {
	transition: all .3s ease-in-out;
	background-color: #333!important;
	color: #fafafa!important;
}

.MuiSpeedDialAction-staticTooltipLabel {
	max-width: none;
	white-space: nowrap;
	cursor: pointer
}

.MuiSpeedDialAction-fab:hover, .MuiSpeedDialAction-fabClosed:hover {
	background-color: #666!important;
	color: #fafafa!important;
}

.MuiFormControlLabel-root {
	margin-right: 8px
}