.rankingClubWrap {
	width: 100%;
}
.rankingDropdown {
	position: absolute;
	top: 1em;
	right: 1em;
}
.rankingResultsWrap {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
	justify-content: center;
}