/* main */
/* classes used in multiple components */

.pageWrapper {
	position: relative;
	padding: 1em 1em 0 1em;
	min-height: 47.5vh
}

.kitColor {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 0 0 0 .25em;
	border: 1px solid #000;
}
.recordPaper {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin: 0 0 1em 0;
	padding: 2px 4px;
	width: 100%

}
.codeWindow {
	width: 100%;
	display: flex;
	flex-direction: column;
	padding: 2px 4px;
	border-radius: 6px;
}
.codeContent {
	padding: 1em;
}
.releasePaper {
	display: flex;
	flex-direction: column;
	width: 92%;
	margin: 0 0 1em 0;
	padding: 1em;
}
.flexContainer {
	display: flex;
	flex-direction: row;
}
.columnContainer {
	display: flex;
	flex-direction: column;
}
.containerCentered {
	display: flex;
	justify-content: center;
	padding: 1em;
}
.centerTxt {
	text-align: center;
}
.justifyBetween {
	justify-content: space-between;
}
.relative {
	position: relative
}
.ovHidden {
	overflow: hidden;
}
.ovYHidden {
	overflow-y: hidden;
}
.justifyLeft {
	justify-content: left;
}
.minHeight100 {
	min-height: 100vh;
}
.justifyCenter {
	justify-content: center;
}
.itemsCenter {
	align-items: center;
}
.width100 {
	width: 100%;
}
.width95 {
	width: 95%
}
.href {
	text-decoration: underline;
	cursor: pointer;
}
.panelWrap {
	padding: 0 1em;
}
.txtCenter {
	text-align: center;
}
.ml-05 {
	margin-left: .5em;
}
.ml-1 {
	margin-left: 1em;
}
.mb-05 {
	margin-bottom: .5em;
}
.m-1 {
	margin: 1em
}
.m-05 {
	margin: .5em
}
.pt-1 {
	padding-top: 1em;
}
.pb-1 {
	padding-bottom: 1em;
}
.pt-2 {
	padding-top: 2em;
}
.pb-2 {
	padding-bottom: 2em;
}
.mr-05 {
	margin-right: .5em;
}
.mb-1 {
	margin-bottom: 1em
}
.mr-2 {
	margin-right: 2em;
}
.ml-2 {
	margin-left: 2em;
}
.p-1 {
	padding: 1em
}
.mt-05 {
	margin-top: .5em
}
.mt-1 {
	margin-top: 1em
}
.mr-1 {
	margin-right: 1em;
}
.mb-15 {
	margin-bottom: 1.5em;
}
.noMargin {
	margin: 0
}
.noPadding {
	padding: 0;
}
.p1 {
	padding: 1em
}
.txtShadow {
	text-shadow: 1px 1px #111;
}
.pointer {
	cursor: pointer;
}
.cardBlueBg {
	background: linear-gradient(200deg, rgb(230, 242, 255) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 100%);
}
.bgDarkGreen {
	background: linear-gradient(200deg, rgba(12, 102, 0, 0.9) 0%, rgba(17, 144, 0, 0.85) 50%, rgba(18, 151, 0, 0.9) 100%);
}
.bgGreen {
	background: linear-gradient(200deg, rgba(17, 143, 0, 0.9) 0%, rgba(19, 161, 0, .85) 50%, rgba(23, 194, 0, 0.9) 100%);
}
.bgLightGreen {
	background: linear-gradient(200deg, rgba(23, 194, 0, 0.9) 0%, rgba(36, 223, 11, 0.85) 50%, rgba(51, 245, 26, 0.9) 100%);
}
.bgYellow {
	background: linear-gradient(200deg, rgba(184, 171, 0, 0.9) 0%, rgba(219, 205, 0, .85) 50%, rgba(240, 224, 0, 0.9) 100%);
}
.bgBlue {
	background: linear-gradient(200deg, rgb(0, 87, 180) 0%, rgb(0, 128, 233) 100%);
}
.bgBlueBtn {
	width: 100%;
	background: linear-gradient(200deg, rgb(0, 87, 180) 0%, rgb(0, 128, 233) 100%);
	color: #fafafa!important
}
.paperBlueGreen {
	background: linear-gradient(rgba(230, 243, 255, 0.9) 0%, rgba(255, 255, 255, .1) 50%, rgba(245, 255, 243, 0.9) 100%);
}
.typography {
	font-size: 19px;
	color: #666;
}
.blue {
	color: linear-gradient(200deg, rgb(0, 87, 180) 0%, rgb(0, 128, 233) 100%);
}
.royalBlue {
	color: royalblue
}
.blueBtn {
	background: linear-gradient(200deg, rgb(24, 86, 219) 0%, rgb(68, 171, 255) 100%);
	color: #fafafa
}
.bgOrange {
	background: linear-gradient(200deg, rgb(196, 121, 0) 0%, rgb(240, 160, 0) 100%);
} 
.bgRed {
	background: linear-gradient(200deg, rgba(175,0,0,1) 0%, rgb(255, 0, 0) 100%);
}
.whiteTxt {
	color: #fafafa!important
}
.redTxt {
	color: #ac0000!important
}
.greenTxt {
	color:#0e7c00!important
}
.bgSilver {
	background: linear-gradient(200deg, rgb(190, 190, 190) 0%, rgb(216, 216, 216) 100%);
}
.bgWhite {
	background-color: #fafafa;
}
.bold {
	font-weight: bold;
}
.bgGrey {
	background-color: rgb(112, 112, 112);
}
.z2 {
	z-index: 2;
}


/* loading component */
.loadingLayer {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(17, 17, 17, .8);
	/* backdrop-filter: blur(30px); */
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: all .4s;
}
.loadingAppName {
	width: 200px;
	margin: 1em 0 0 0;
}

/* slider component */
.divSliderWrap {
	margin: 1em 0 0 0;
}

.contentWrap {
	height: 100vh;
	margin: 0;
	display: flex;
	flex-direction: column;
}

.height100 {
	height: 100%
}
/* footer */
.footer {
	position: absolute;
	bottom: 0;
	right: -70px;
	left: -70px;
	border-radius: 100% 100% 0 0;
	color: #bebebe;
	background: linear-gradient( rgb(41, 41, 41) 0%, rgb(10, 10, 10) 100%)
}
/* .footerContainer {
	width: 100%;
	background: linear-gradient(200deg, rgb(216, 216, 216) 00%,  rgb(190, 190, 190) 100%);
} */


/* material ui mod */
.MuiBox-root {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.disabled {
	background-color: #000;
	opacity: .3;
	pointer-events: none;
}