/* Mobile first CSS */
/* Initial mobile values in corresponding css files */

/* turned smartphone */
@media (min-width: 600px) and (max-height: 460px) {

	/* header */
	.overviewLayer {
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: left;
	}
	.overviewLayer, .overviewShadowed {
		height: 40vh
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 60%
	}
	.svgPaperWrap, .promoPaperCol {
		flex-direction: row;
		justify-content: space-between;
	}
	.svgPaper, .promoPaper {
		width: 47.5%;
	}

	/* club page content */
	.overviewPaper, .playerClubPaper {
		width: 60%
	}
	.tablePaper {
		width: 100%;
	}
	.releasePaper {
		width: 60%;
	}
}

/* Small Tablets */
@media (min-width: 650px) and (min-height: 990px) {

	/* .pageWrapper {
		padding: 1em 5em 0 5em;
	} */

	/* header */
	.overviewLayer {
		background-size: 60%;
		background-repeat: no-repeat;
		background-position: left;
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 60%
	}
	.svgPaperWrap, .promoPaperCol {
		flex-direction: row;
		justify-content: space-between;
	}
	.svgPaper, .promoPaper {
		width: 47.5%;
	}

	/* club page content */
	.overviewPaper {
		width: 60%
	}
	.tablePaper {
		width: 100%;
	}
	.playerClubPaper {
		width: 60%
	}
	.squadList {
		justify-content: space-evenly
	}
	.releasePaper {
		width: 60%;
	}

}

/* Medium Tablets */
@media (min-width: 770px) and (min-height: 1100px) {
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
}

/* Big Tablets */
@media (min-width: 850px) and (min-height: 1300px) {

	/* header */
	.overviewLayer {
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: left;
	}
	.overviewLayer, .overviewShadowed {
		height: 20vh
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 40%
	}
	.svgPaperWrap, .promoPaperCol, .promoPaperWrap {
		flex-direction: row;
		justify-content: space-between;
	}
	.promoPaperCol, .contributeCol {
		width: 49.5%
	}
	.svgPaper, .promoPaper {
		width: 47.5%;
	}

	/* club page content */
	.overviewPaper {
		width: 75%
	}
	.tablePaper {
		width: 100%;
	}
	.playerClubPaper {
		width: 50%
	}
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
}

/* Small Notebooks */
@media (min-width: 1020px) and (min-height: 500px) {

	/* header */
	.overviewLayer {
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: left;
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 40%
	}
	.svgPaperWrap, .promoPaperCol, .promoPaperWrap {
		flex-direction: row;
		justify-content: space-between;
	}
	.promoPaperCol, .contributeCol {
		width: 49.5%
	}
	.svgPaper, .promoPaper {
		width: 47.5%;
	}

	/* club page content */
	.overviewPaper {
		width: 60%
	}
	.tablePaper {
		width: 90%;
	}
	.playerClubPaper {
		width: 40%
	}
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
}

/* Notebooks & HD */
@media (min-width: 1340px) and (min-height: 650px) {

	.svgWrapR {
		right: -5.5em
	}
	.svgWrap {
		top: 6em
	}
	/* .svgWrap {
		left: -6.5em;
		top: 7em
	} */

	.pageWrapper {
		padding: 1em 15em 0 15em;
	}

	/* header */
	.overviewLayer {
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: left;
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper {
		width: 40%
	}
	.svgPaperWrap, .promoPaperCol, .promoPaperWrap {
		flex-direction: row;
		justify-content: space-between;
	}
	.promoPaperCol, .contributeCol {
		width: 49.5%
	}
	.promoPaper {
		width: 47.5%;
	}
	.svgPaper {
		width: 48.5%
	}
	.tablePaper {
		width: 80%;
	}

	/* club page content */
	.overviewPaper {
		width: 60%
	}
	.playerClubPaper {
		width: 40%
	}
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.releasePaper {
		width: 50%;
	}
}

/* Monitors & FullHD */
@media (min-width: 1600px) and (min-height: 750px) {

	/* header */
	.overviewLayer {
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: left;
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 40%
	}
	.svgPaperWrap, .promoPaperCol, .promoPaperWrap {
		flex-direction: row;
		justify-content: space-between;
	}
	.promoPaperCol, .contributeCol {
		width: 49.5%
	}
	.promoPaper {
		width: 47.5%;
	}
	.svgPaper {
		width: 49%
	}

	/* club page content */
	.overviewPaper {
		width: 60%
	}
	.playerClubPaper {
		width: 40%
	}
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.releasePaper {
		width: 50%;
	}
}

/* Wide Monitors */
@media (min-width: 2000px) and (min-height: 900px) {

	.pageWrapper {
		padding: 1em 20em 0 20em;
	}

	/* header */
	.overviewLayer {
		background-size: 50%;
		background-repeat: no-repeat;
		background-position: left;
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 40%
	}
	.svgPaperWrap, .promoPaperCol, .promoPaperWrap {
		flex-direction: row;
		justify-content: space-between;
	}
	.promoPaperCol, .contributeCol {
		width: 49.5%
	}
	.promoPaper {
		width: 47.5%;
	}
	.svgPaper {
		width: 49%
	}

	/* club page content */
	.overviewPaper, .playerClubPaper {
		width: 40%
	}
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.releasePaper {
		width: 50%;
	}
}

/* Ultra Wide Monitors */
@media (min-width: 3000px) and (min-height: 1100px) {
	.pageWrapper {
		padding: 1em 60em 0 60em;
	}

	/* header */
	.overviewLayer {
		background-size: 30%;
		background-repeat: no-repeat;
		background-position: left;
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 40%
	}
	.svgPaperWrap, .promoPaperCol, .promoPaperWrap {
		flex-direction: row;
		justify-content: space-between;
	}
	.promoPaperCol, .contributeCol {
		width: 49.5%
	}
	.promoPaper {
		width: 47.5%;
	}
	.svgPaper {
		width: 49%
	}

	/* club page content */
	.overviewPaper, .playerClubPaper {
		width: 40%
	}
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.releasePaper {
		width: 50%;
	}
}

/* Ultra Wide splitted */
@media (min-width: 1650px) and (max-width: 2000px) and (min-height: 1200px) and (max-height: 1550px) {
	.pageWrapper {
		padding: 1em 15em 0 15em;
		min-height: 62.5vh;
	}

	/* header */
	.overviewLayer {
		background-size: 40%;
		background-repeat: no-repeat;
		background-position: left;
	}

	/* homepage content */
	.searchPaper, .favPaper, .clubSearchPaper, .recordPaper {
		width: 40%
	}
	.svgPaperWrap, .promoPaperCol, .promoPaperWrap {
		flex-direction: row;
		justify-content: space-between;
	}
	.promoPaperCol, .contributeCol {
		width: 49.5%
	}
	.promoPaper {
		width: 47.5%;
	}
	.svgPaper {
		width: 49%
	}

	/* club page content */
	.overviewPaper, .playerClubPaper {
		width: 40%
	}
	.clubTabs {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center
	}
	.releasePaper {
		width: 40%;
	}
}