.navWrap {
	position: fixed;
	bottom: 1em;
	right: 1em;
	z-index: 10;
}
.navContainerWrap {
	position: fixed;
	top: 0;
	right: 4.5em;
	bottom: 0;
	left: 0;
	box-shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 3px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
	background-color: #f0f0f0;
	text-align: left;
	padding: 1em;
	z-index: 10;
}
.gamertagWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: .5em 0 0 0;
	width: 100%;
}
.smallChip {
	margin: 0 .5em 0 0;
}
.navLogoWrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 0 0 1em 0;
}
.navLogo {
	top: 1em;
	right: 1em;
	width: 35px;
}
.navAppName {
	width: 160px;
}
.iconLink {
	display: flex;
	align-items: center;
}
.navLinksWrap {
	display: flex;
	flex-direction: column;
	margin: 1em 0;
}
.searchClubNav {
	position: absolute;
	bottom: .5em;
	left: 1em;
	right: 1em
}