.buildMsgWrap {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 3em 0
}

.btcBtn {
	border-color: orange!important;
	color: orange!important;
}

.xmrBtn {
	border-color: #ee7300!important;
	color: #ee7300!important;
}