.promotionCardPaper {
	padding: 1em;
	margin: 0 0 1em 0;
	/* background: linear-gradient(200deg, rgba(237, 246, 255) 0%, rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 100%); */
}
.promotionTitle {
	font-size: 20px;
	color: royalblue;
	margin: 1em 0 0 0
}
.promoDescription {
	padding: 0 1em
}
.promoWrap {
	margin: 1em 0;
}