
/* .searchContentWrap {
	width: 100%;
	display: flex;
	justify-content: center;
} */

/* .clubSearchPaper {
	width: 100%;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	padding: 2px 4px;
} */
.clubSearchWrap {
	display: flex;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}
/* .clubCrest {
	width: 40px;
	margin: .5em
} */

.searchInputWrapper {
	display: flex;
	padding: 2px 4px;
	align-items: center;
	margin-bottom: 25px;
	/* width: 100%; */
	border: 1px solid #f1f1f1;
	border-radius: 5px;
}
.clubShortInfoWrap {
	margin: 0 0 0 .3em;
}

.shortClubInfoRow {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .25em 0;
}
